<div class = "container">
  <div class="wrapper">
    <div action="index.html"  method="post" name="Login_Form" class="form-signin">
      <h3 class="form-signin-heading">Sign In</h3>
      <hr class="colorgraph"><br> 
      <form ng-submit="signin()" >
        <input ng-model="user.username" type="text" id="userName" class="form-control" name="Username" placeholder="user name" required="" autofocus="" />
        <input ng-model="user.password" type="password" id="password" class="form-control" name="Password" placeholder="password" required=""/>  
        <span  id="errorSpan" style=" color:red ; text-align:center ; display: none; ">Invalid Name or Password</span>   
        <button class="btn btn-primary btn-block" type="submit"  style="margin-top: : 5px">Sign In</button>
      	<div ng-show="err" class="alert alert-danger">
          <strong>Error!</strong> {{message}}
        </div>
      </form> 
      <d5>create an account <a href="/#!/signup">signup</a></d5>
    </div>     
  </div>